# "Will it snow tomorrow?" - The time traveler asked
The following dataset contains climate information from over 9000 stations accross the world. The overall goal of these subtasks will be to predict whether it will snow tomorrow 15 years ago. So if today is 2024.05.17 then the weather we want to forecast is for the date 2009.05.18. You are supposed to solve the tasks using Big Query, which can be used in the Jupyter Notebook like it is shown in the following cell. For further information and how to use BigQuery in Jupyter Notebook refer to the Google Docs. 

The goal of this test is to test your coding knowledge in Python, BigQuery and Pandas as well as your understanding of Data Science. If you get stuck in the first part, you can use the replacement data provided in the second part

Defining the SQL query to select data from the specified range of years and station numbers

In [1]:
from google.cloud import bigquery
import pandas as pd
client = bigquery.Client()
query = """
SELECT
*,
FROM `bigquery-public-data.samples.gsod`
WHERE
  year BETWEEN 2005 AND 2009
  AND station_number BETWEEN 725300 AND 726300"""

Executing the query and converting the result to a DataFrame and verify the data in few first rows

In [2]:
df = client.query(query).to_dataframe()
df.head()

,station_number,wban_number,year,month,day,mean_temp,num_mean_temp_samples,mean_dew_point,num_mean_dew_point_samples,mean_sealevel_pressure,...,min_temperature,min_temperature_explicit,total_precipitation,snow_depth,fog,rain,snow,hail,thunder,tornado
0,725464,99999,2005,11,1,61.200001,4,28.000000,4,NaN,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
1,725869,99999,2005,7,27,67.599998,4,39.700001,4,NaN,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
2,725940,99999,2005,12,12,47.200001,4,41.299999,4,1020.500000,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
3,725940,99999,2005,3,5,50.400002,4,46.000000,4,1024.500000,...,NaN,<NA>,0.14,NaN,False,False,False,False,False,False
4,725525,99999,2005,9,24,85.099998,4,61.700001,4,1009.200012,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False

Checking dimensions of the DataFrame

In [3]:
df.shape

(377784, 31)

## Part 1

### 1. Task
Change the date format to 'YYYY-MM-DD' and select the data from 2005 till 2009 for station numbers including and between 725300 and 726300 , and save it as a pandas dataframe. Note the maximum year available is 2010.

In [4]:
df['year'] = df['year'].astype(str)
df['month'] = df['month'].apply(lambda x: f"{int(x):02d}")  
df['day'] = df['day'].apply(lambda x: f"{int(x):02d}") 
df['date'] = df['year'] + '-' + df['month'] + '-' + df['day']
df.head()

,station_number,wban_number,year,month,day,mean_temp,num_mean_temp_samples,mean_dew_point,num_mean_dew_point_samples,mean_sealevel_pressure,...,min_temperature_explicit,total_precipitation,snow_depth,fog,rain,snow,hail,thunder,tornado,date
0,725464,99999,2005,11,01,61.200001,4,28.000000,4,NaN,...,<NA>,0.00,NaN,False,False,False,False,False,False,2005-11-01
1,725869,99999,2005,07,27,67.599998,4,39.700001,4,NaN,...,<NA>,0.00,NaN,False,False,False,False,False,False,2005-07-27
2,725940,99999,2005,12,12,47.200001,4,41.299999,4,1020.500000,...,<NA>,0.00,NaN,False,False,False,False,False,False,2005-12-12
3,725940,99999,2005,03,05,50.400002,4,46.000000,4,1024.500000,...,<NA>,0.14,NaN,False,False,False,False,False,False,2005-03-05
4,725525,99999,2005,09,24,85.099998,4,61.700001,4,1009.200012,...,<NA>,0.00,NaN,False,False,False,False,False,False,2005-09-24

In [5]:
print(f"The lowest station number is {df['station_number'].min()}")

The lowest station number is 725300

In [6]:
print(f"The highest station number is {df['station_number'].max()}")

The highest station number is 726284

In [7]:
print(f"The earliest year is {df['year'].min()}")

The earliest year is 2005

In [8]:
print(f"The latest year is {df['year'].max()}")

The latest year is 2009

### 2. Task 
From here you want to work with the data from all stations 725300 to 725330 that have information from 2005 till 2009.

Filtering the DataFrame to include only rows where the station number is less than 725330

In [9]:
df=df[df.station_number<725330]

In [10]:
print(f"The highest station number is {df['station_number'].max()}")

The highest station number is 725327

Do a first analysis of the remaining dataset, clean or drop data depending on how you see appropriate.

Converting the "date" column to datetime format

In [11]:
df['date'] = pd.to_datetime(df['date'])

Filtering the DataFrame to exclude "samples" columns

In [12]:
df = df.loc[:, ~df.columns.str.contains('samples')]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16306 entries, 75 to 377782
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   station_number            16306 non-null  Int64
 1   wban_number               16306 non-null  Int64
 2   year                      16306 non-null  object
 3   month                     16306 non-null  object
 4   day                       16306 non-null  object
 5   mean_temp                 16306 non-null  float64
 6   mean_dew_point            16304 non-null  float64
 7   mean_sealevel_pressure    14468 non-null  float64
 8   mean_station_pressure     659 non-null    float64
 9   mean_visibility           16303 non-null  float64
 10  mean_wind_speed           16301 non-null  float64
 11  max_sustained_wind_speed  16296 non-null  float64
 12  max_gust_wind_speed       10418 non-null  float64
 13  max_temperature           16304 non-null  float64
 14  max_temperature_explicit  16304 non-null  boolean
 15  min_temperature           0 non-null      float64
 16  min_temperature_explicit  0 non-null      boolean
 17  total_precipitation       16127 non-null  float64
 18  snow_depth                310 non-null    float64
 19  fog                       16306 non-null  boolean
 20  rain                      16306 non-null  boolean
 21  snow                      16306 non-null  boolean
 22  hail                      16306 non-null  boolean
 23  thunder                   16306 non-null  boolean
 24  tornado                   16306 non-null  boolean
 25  date                      16306 non-null  datetime64[ns]
dtypes: Int64(2), boolean(8), datetime64[ns](1), float64(12), object(3)
memory usage: 2.6+ MB

Defining a list of columns to be excluded due to containing null values and filtering the DataFrame to exclude the specified columns

In [14]:
nulls=["min_temperature","min_temperature_explicit","mean_station_pressure"]
df = df.loc[:, ~df.columns.isin(nulls)]

Counting the occurrences of the "snow" column values where the "snow_depth" column is empty

In [15]:
df.loc[df.snow_depth.isna(),"snow"].value_counts()

snow
False    14305
True      1691
Name: count, dtype: Int64

Dropping the "snow_depth" column from the DataFrame due to big number of missing values and unclear strategy to fill them

In [16]:
df.drop("snow_depth",inplace=True,axis=1)

Converting "max_temperature_explicit" column to float type and defining a list of columns to fill null values in

In [17]:
df['max_temperature_explicit'] = df['max_temperature_explicit'].astype(float)
fill_nulls=["mean_temp","mean_dew_point","mean_sealevel_pressure","mean_visibility","mean_wind_speed","max_sustained_wind_speed","max_gust_wind_speed","max_temperature","max_temperature_explicit","total_precipitation"]

Filling missing values in specified columns using the nearest neighbor approach, ensuring values are propagated in both forward and backward directions

In [18]:
df[fill_nulls] = df[fill_nulls].interpolate(method='nearest', limit_direction='both')

Verifying DataFrame information to ensure absence of empty rows and correct data types

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16306 entries, 75 to 377782
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   station_number            16306 non-null  Int64
 1   wban_number               16306 non-null  Int64
 2   year                      16306 non-null  object
 3   month                     16306 non-null  object
 4   day                       16306 non-null  object
 5   mean_temp                 16306 non-null  float64
 6   mean_dew_point            16306 non-null  float64
 7   mean_sealevel_pressure    16306 non-null  float64
 8   mean_visibility           16306 non-null  float64
 9   mean_wind_speed           16306 non-null  float64
 10  max_sustained_wind_speed  16306 non-null  float64
 11  max_gust_wind_speed       16304 non-null  float64
 12  max_temperature           16306 non-null  float64
 13  max_temperature_explicit  16306 non-null  float64
 14  total_precipitation       16306 non-null  float64
 15  fog                       16306 non-null  boolean
 16  rain                      16306 non-null  boolean
 17  snow                      16306 non-null  boolean
 18  hail                      16306 non-null  boolean
 19  thunder                   16306 non-null  boolean
 20  tornado                   16306 non-null  boolean
 21  date                      16306 non-null  datetime64[ns]
dtypes: Int64(2), boolean(6), datetime64[ns](1), float64(10), object(3)
memory usage: 2.3+ MB

### 3. Task
Now it is time to split the data, into a training, evaluation and test set. As a reminder, the date we are trying to predict snow fall for should constitute your test set.

Calculating the test date 15 years ago tommorow remembering about leap years

In [20]:
import datetime as dt
from dateutil.relativedelta import relativedelta

test_date = (dt.datetime.today() - relativedelta(years=15) + relativedelta(days=1)).strftime('%Y-%m-%d')
print(f"Test Date: {test_date}")

Test Date: 2009-06-26

Splitting the dataset into test and train/evaluation sets based on date

In [21]:
test_set = df[df['date'] == test_date]
train_eval_set = df[df['date'] != test_date]

Splitting the training and evaluation set into train- <2005-2008> and evaluation-2009 subsets

In [22]:
train_set = df[df['date'] < dt.datetime(2009, 1, 1)]
eval_set = df[df['date'] > dt.datetime(2009, 1, 1)]

In [23]:
print("Test Set")
test_set.head()

Test Set

,station_number,wban_number,year,month,day,mean_temp,mean_dew_point,mean_sealevel_pressure,mean_visibility,mean_wind_speed,...,max_temperature,max_temperature_explicit,total_precipitation,fog,rain,snow,hail,thunder,tornado,date
28857,725326,4894,2009,06,26,82.900002,64.400002,1021.599976,10.0,5.1,...,73.400002,1.0,0.0,False,False,False,False,False,False,2009-06-26
68248,725316,3887,2009,06,26,84.699997,69.199997,1009.700012,10.0,5.5,...,77.000000,0.0,0.0,False,False,False,False,False,False,2009-06-26
157046,725317,53802,2009,06,26,83.699997,70.099998,1009.099976,10.0,5.1,...,75.000000,0.0,0.0,False,False,False,False,False,False,2009-06-26
160340,725305,94892,2009,06,26,81.400002,64.199997,1009.700012,10.0,5.3,...,69.099998,0.0,0.0,False,False,False,False,False,False,2009-06-26
160832,725327,4846,2009,06,26,79.099998,64.199997,1009.799988,10.0,3.4,...,71.099998,0.0,0.0,False,False,False,False,False,False,2009-06-26

In [24]:
print("Training Set")
train_set.head()

Training Set

,station_number,wban_number,year,month,day,mean_temp,mean_dew_point,mean_sealevel_pressure,mean_visibility,mean_wind_speed,...,max_temperature,max_temperature_explicit,total_precipitation,fog,rain,snow,hail,thunder,tornado,date
75,725305,99999,2005,01,07,16.700001,13.100000,1021.200012,8.4,6.9,...,6.800000,1.0,0.01,False,False,False,False,False,False,2005-01-07
76,725305,99999,2005,07,19,77.699997,55.599998,1014.400024,10.0,5.9,...,60.799999,1.0,0.00,False,False,False,False,False,False,2005-07-19
80,725317,99999,2005,10,21,49.500000,47.099998,1011.799988,7.3,10.3,...,46.400002,1.0,0.59,False,False,False,False,False,False,2005-10-21
83,725327,99999,2005,12,01,26.000000,21.900000,1017.700012,7.0,5.4,...,19.400000,1.0,0.06,False,False,False,False,False,False,2005-12-01
88,725314,99999,2005,12,08,19.600000,13.700000,1031.400024,6.9,6.4,...,15.100000,0.0,0.18,True,True,True,True,True,True,2005-12-08

In [25]:
print("Evaluation Set")
eval_set.head()

Evaluation Set

,station_number,wban_number,year,month,day,mean_temp,mean_dew_point,mean_sealevel_pressure,mean_visibility,mean_wind_speed,...,max_temperature,max_temperature_explicit,total_precipitation,fog,rain,snow,hail,thunder,tornado,date
2633,725326,4894,2009,07,30,63.099998,56.200001,1027.000000,8.6,0.9,...,57.200001,0.0,0.00,False,False,False,False,False,False,2009-07-30
2673,725314,3960,2009,12,04,26.100000,15.300000,1024.699951,10.0,4.3,...,19.000000,0.0,0.00,False,False,False,False,False,False,2009-12-04
2713,725326,4894,2009,10,31,43.900002,31.200001,1024.699951,10.0,16.4,...,37.400002,0.0,0.03,False,False,False,False,False,False,2009-10-31
2720,725326,4894,2009,11,06,49.599998,35.500000,1024.699951,10.0,6.2,...,35.599998,1.0,0.00,False,False,False,False,False,False,2009-11-06
2780,725326,4894,2009,12,13,34.099998,30.900000,1014.900024,4.1,3.6,...,28.400000,0.0,0.00,False,False,False,False,False,False,2009-12-13

## Part 2
If you made it up to here all by yourself, you can use your prepared dataset to train an algorithm of your choice to forecast whether it will snow on the following date for each station in this dataset:

Calculating the test date 15 years ago tommorow remembering about leap years

In [26]:
import datetime as dt
from dateutil.relativedelta import relativedelta

test_date = (dt.datetime.today() - relativedelta(years=15) + relativedelta(days=1)).strftime('%Y-%m-%d')
print(f"Test Date: {test_date}")

Test Date: 2009-06-26

Defining relevant training columns

In [27]:
train_columns=list(df.columns[5:21])
train_columns.remove("snow")
train_columns.remove("max_gust_wind_speed")

In [28]:
x_train=train_set[train_columns]
y_train=train_set["snow"]

Normalazing the values to use KNeighborsClassifier

In [29]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
x_train_scaled = scaler.fit_transform(x_train)

You are allowed to use any library you are comfortable with such as sklearn, tensorflow, keras etc. 
If you did not manage to finish part one feel free to use the data provided in 'coding_challenge.csv' Note that this data does not represent a solution to Part 1.

In [30]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
model.fit(x_train_scaled, y_train)

KNeighborsClassifier()

Evaluating the model

In [31]:
x_eval=eval_set[train_columns]
y_eval=eval_set["snow"]

Checking the accuracy of the model

In [32]:
accuracy = model.score(scaler.transform(x_eval), y_eval)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 1.00

Predicting using the trained model on scaled evaluation data and counting the occurrences of each predicted value

In [33]:
pd.Series(model.predict(scaler.transform(x_eval))).value_counts()

0.0    2967
1.0     278
Name: count, dtype: int64

Testing the model

In [34]:
x_test=test_set[train_columns]
y_test=test_set["snow"]

Checking the accuracy of the model

In [35]:
accuracy = model.score(scaler.transform(x_test), y_test)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 1.00

Generating predictions using the trained model on scaled test data

In [36]:
pd.Series(model.predict(scaler.transform(x_test)))

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
dtype: float64